@import "tailwindcss";

:root {
  --background: #e7e7e7;
  --foreground: #ffffff;
  --border: #182563;
  --highlight: #CC1240;
  --shadow: #4771be;
  --text: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262d3c; 
    --foreground: #151c31;
    --border:#003983ff;
    --shadow: #ffffff;
    --text: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
